date,activity_type,name,distance_m,elapsed_time,elapsed_time_sec,link,route_img
"March 3, 2020 at 07:13PM",Ride,45 min Power Zone Ride,20857.1,"44 minutes, 58 seconds",2698,,
"March 4, 2020 at 07:38PM",Ride,45 min Power Zone Ride,14065.6,"29 minutes, 59 seconds",1799,,
